.block--tabs {

  .tab-headings {
    display: flex;
    padding: 0;
    list-style: none;
    gap: 1rem;
  }

  .tabs-content {
    display: grid;

    > * {
      grid-column: 1 / -1;
      grid-row: 1 / -1;
      opacity: 0;
      transition: $common-animation;

      &.active {
        opacity: 1;
      }

    }

  }

}