.block--slider {
  .slide-container {
    position: relative;
  }

  .slider-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
  }
}

